 <% values = ["email", "username", "pin", "website", "address", "alias"] %>

 <% values.each do |value| %>
  <label for="<%= value %>"><%= value %></label>
  <input type="text" name="<%= value %>" id="<%= value %>" class="fancy_form">
<% end %>

<!-- Finished -->
